{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Recipes{% endblock %}</h1>
{% endblock %}


{% block content %}
<main>
  <section class="container text-center">
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
        <div class="alert alert-{{ category }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    {% endwith  %}

    <figure class="text-center pt-4">
      <blockquote class="blockquote">
        <p style="color: #444251;">Шоколадный с шоколадом. С шоколадной начинкой и шоколадной крошкой сверху. И чашечка горячего шоколада рядом.</p>
      </blockquote>
      <figcaption class="blockquote-footer">
        Дженсен Эклз <cite title="Source Title">американский актер и режиссер, певец 1978</cite>
      </figcaption>
    </figure>
  </section>

  {% if g.user %}
  <div class="container-xl">
    <form class="row" action="{{ url_for('blog.index') }}" method="get">
      <div class="mb-3 col-sm-8">
        <input class="form-control" type="search" name="q" placeholder="Поиск по рецептам" aria-label="Search" value="{{ request.args['q'] }}">
      </div>
      <div class="mb-3 col-sm-2">
        <select class="form-select" type="search" name="trade" aria-label="Search">
          <option {% if request.args['trade'] == "all" %}selected{% endif %} value="all">Все</option>
          <option {% if request.args['trade'] == "true" %}selected{% endif %} value="true">Продаются</option>
          <option {% if request.args['trade'] == "false" %}selected{% endif %} value="false">Не продаются</option>
        </select>
      </div>
      <div class="mb-3 col-sm-2 d-grid">
        <button class="btn btn-outline-success" type="submit">Поиск</button>
      </div>
    </form>
  </div>
  {% endif %}

  {% if recipes %}
  <div class="album py-5">
    <div class="container-xl">

      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-3">


        {% for recipe, prew_logo in recipes if recipe.to_trade or g.user %}
          <div class="col" id="recipe-{{ recipe.id }}">
            <a href="{{ url_for('blog.view', id=recipe.id) }}" class="card card-shadow">

              <svg class="card-img-fun" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{ recipe.name }}</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                <image xlink:href="{{ prew_logo }}" width="100%" height="100%" preserveAspectRatio="xMidYMid slice"/>
              </svg>

              <div class="card-body">
                <h5 class="card-title f-text-bold">{{ recipe.name | truncate(30) }}</h5>
                <p class="card-text f-text-light">{{ recipe.text_about | truncate(125) | safe }}</p>
                <div class="d-flex justify-content-between align-items-center">
<!--                  <div class="btn-group">-->
<!--                    <a href="{{ url_for('blog.view', id=recipe.id) }}" class="btn btn-sm btn-outline-secondary">Смотреть</a>-->
<!--                    {% if g.user %}-->
<!--                    <a href="{{ url_for('blog.update', id=recipe.id) }}" class="btn btn-sm btn-outline-secondary">Изменить</a>-->
<!--                    &lt;!&ndash;<a href="{{ url_for('blog.delete', id=recipe.id) }}" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure?');">Удалить</a>&ndash;&gt;-->
<!--                    {% endif %}-->
<!--                  </div>-->

                  {% if g.user %}
                  <small class="text-muted">{% if recipe.to_trade %}Видно{% else %}Не видно{% endif %}</small>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>

          {% if loop.last %}
          {% endif %}

        {% endfor %}


      </div>
    </div>
  </div>
  {% endif %}

<section class="container text-center">
</section>

</main>
{% endblock %}